<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой сайт</title>
    <link rel="stylesheet" href="/styles/css/main/styles.css">
    <link rel="stylesheet" href="/styles/css/main/slider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<style>

/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
</style>

<body>
  
    <%- include('navbar.ejs') %>
        
    <main>

        <div id="container" class="slider-container">
            <div id="slider-caption" class="caption">
              <div class="caption-heading">
                <h1>Lorem Ipsum</h1>
              </div>
              <div class="caption-subhead">
                <span>dolor sit amet, consectetur adipiscing elit.</span>
              </div>
              <a class="btn" href="#">Sit Amet</a>
            </div>
            <div id="left-col" class="left-col">
              <div id="left-slider"></div>
            </div>
            <ul class="nav">
              <li class="slide-up">
                <a href="#"> &lt; </a>
              </li>
              <li class="slide-down">
                <a id="down_button" href="#"> &gt; </a>
              </li>
            </ul>
          </div>
          
        
          <div class="container">
            <section class="card-body padding-bottom50">
            <div class="card-section">
              <% products.forEach(product => { %>
                <div class="product-card">
                  <input type="hidden" class="product-data" data-product-id="<%= product.id %>">
                  <a href="/product/<%= product.slug %>">
                    <% if (product.imageUrl) { %>
                      <img src="<%= product.imageUrl %>" alt="<%= product.name %> Image">
                    <% } %>
                          <!-- <img src="https://via.placeholder.com/300" alt="Product Image"> -->
                    <div class="product-info">
                      <h3 class="product-name"><%= product.name %></h3>
                      <p class="product-price">$<%= product.price %></p>
                      <p class="product-description"><%= product.description %></p>
                      </a>
                      <div class="product-buttons">
                        <button class="add-to-cart">Add to Cart</button>
                        <button class="add-to-favorites">Add to Favorites</button>
                      </div>
                    </div>
                  </div>
              <% }) %>
            </div>
            <a href="/product-list" class="button-30">Another products</a>
        </section>
      </div>
        
      <!-- <button class="button-30" role="button"></button> -->
          
      
          
          
        
    </main>
    <%- include('footer.ejs') %>
</body>

<script src="/scripts/js/add-to-cart.js"></script>

<script>
    document.querySelectorAll('.product-card').forEach(card => {
    card.addEventListener('click', function(event) {
        if (!event.target.closest('.product-buttons')) {
            const link = this.querySelector('a');
            if (link) {
                link.click();
            }
        }
    });
});

// Предотвращение перехода по ссылке при нажатии на кнопки
document.querySelectorAll('.product-buttons button').forEach(button => {
    button.addEventListener('click', function(event) {
        event.stopPropagation(); // Предотвращаем всплытие события клика
    });
});

</script>

<script>
    let slide_data = [
      {
        'src':'https://images.unsplash.com/photo-1506765336936-bb05e7e06295?ixlib=rb-0.3.5&s=d40582dbbbb66c7e0812854374194c2e&auto=format&fit=crop&w=1050&q=80',
        'title':'Slide 1',
        'copy':'DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT.'
      },
      {
        'src':'https://images.unsplash.com/photo-1496309732348-3627f3f040ee?ixlib=rb-0.3.5&s=4d04f3d5a488db4031d90f5a1fbba42d&auto=format&fit=crop&w=1050&q=80', 
        'title':'Slide 2',
        'copy':'DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT.'
      },
      {
        'src':'https://images.unsplash.com/photo-1504271863819-d279190bf871?ixlib=rb-0.3.5&s=7a2b986d405a04b3f9be2e56b2be40dc&auto=format&fit=crop&w=334&q=80', 
        'title':'Slide 3',
        'copy':'DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT.'
      },
      {
        'src':'https://images.unsplash.com/photo-1478728073286-db190d3d8ce6?ixlib=rb-0.3.5&s=87131a6b538ed72b25d9e0fc4bf8df5b&auto=format&fit=crop&w=1050&q=80', 
        'title':'Slide 4',
        'copy':'DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT.'
      },
      
    ];
    let slides = [],
      captions = [];
    
    let autoplay = setInterval(function(){
      nextSlide();
    },5000);
    let container = document.getElementById('container');
    let leftSlider = document.getElementById('left-col');
    // console.log(leftSlider);
    let down_button = document.getElementById('down_button');
    // let caption = document.getElementById('slider-caption');
    // let caption_heading = caption.querySelector('caption-heading');
    
    down_button.addEventListener('click',function(e){
      e.preventDefault();
      clearInterval(autoplay);
      nextSlide();
      autoplay;
    });
    
    for (let i = 0; i< slide_data.length; i++){
      let slide = document.createElement('div'),
          caption = document.createElement('div'),
          slide_title = document.createElement('div');
        
      slide.classList.add('slide');
      slide.setAttribute('style','background:url('+slide_data[i].src+')');
      caption.classList.add('caption');
      slide_title.classList.add('caption-heading');
      slide_title.innerHTML = '<h1>'+slide_data[i].title+'</h1>';
      
      switch(i){
        case 0:
            slide.classList.add('current');
            caption.classList.add('current-caption');
            break;
        case 1:
            slide.classList.add('next');
            caption.classList.add('next-caption');
            break;
        case slide_data.length -1:
          slide.classList.add('previous');
          caption.classList.add('previous-caption');
          break;
        default:
           break;       
      }
      caption.appendChild(slide_title);
      caption.insertAdjacentHTML('beforeend','<div class="caption-subhead"><span>dolor sit amet, consectetur adipiscing elit. </span></div>');
      slides.push(slide);
      captions.push(caption);
      leftSlider.appendChild(slide);
      container.appendChild(caption);
    }
    // console.log(slides);
    
    function nextSlide(){
      // caption.classList.add('offscreen');
      
      slides[0].classList.remove('current');
      slides[0].classList.add('previous','change');
      slides[1].classList.remove('next');
      slides[1].classList.add('current');
      slides[2].classList.add('next');
      let last = slides.length -1;
      slides[last].classList.remove('previous');
      
      captions[0].classList.remove('current-caption');
      captions[0].classList.add('previous-caption','change');
      captions[1].classList.remove('next-caption');
      captions[1].classList.add('current-caption');
      captions[2].classList.add('next-caption');
      let last_caption = captions.length -1;
      
      // console.log(last);
      captions[last].classList.remove('previous-caption');
      
      let placeholder = slides.shift();
      let captions_placeholder = captions.shift();
      slides.push(placeholder); 
      captions.push(captions_placeholder);
    }
    
    let heading = document.querySelector('.caption-heading');
    
    
    // https://jonsuh.com/blog/detect-the-end-of-css-animations-and-transitions-with-javascript/
    function whichTransitionEvent(){
      var t,
          el = document.createElement("fakeelement");
    
      var transitions = {
        "transition"      : "transitionend",
        "OTransition"     : "oTransitionEnd",
        "MozTransition"   : "transitionend",
        "WebkitTransition": "webkitTransitionEnd"
      }
    
      for (t in transitions){
        if (el.style[t] !== undefined){
          return transitions[t];
        }
      }
    }
    
    var transitionEvent = whichTransitionEvent()
    caption.addEventListener(transitionEvent, customFunction);
    
    function customFunction(event) {
      caption.removeEventListener(transitionEvent, customFunction);
      console.log('animation ended');
    
      // Do something when the transition ends
    }
    
    
    
    </script>

</html>
