<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %> - Product Details</title>
    <link rel="stylesheet" href="/styles/css/main/styles.css">
    <link rel="stylesheet" href="/styles/css/product/details.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<style>
    /* .page-title {
  text-align: center;
}

.slider-container {
  position: relative;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
} */

/* .slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
} */

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
} */

</style>
<body>

    <%- include('../pages/navbar.ejs') %>


    
    <div class="product-container">
        <!-- Left section: Image slider -->
        <!-- <div class="image-slider">
            <% if (images.length > 0) { %>
                <div class="slider">
                    <% images.forEach((image, index) => { %>
                        <div class="slide <%= index === 0 ? 'active' : '' %>">
                            <img src="<%= image.url %>" alt="<%= product.name %> Image">
                        </div>
                    <% }) %>
                </div>
            <% } else { %>
                <p>No images available.</p>
            <% } %>
        </div> -->
        <div class="image-slider">
            <% if (images.length > 0) { %>
                <div class="slider">
                    <% images.forEach((image, index) => { %>
                        <!-- <div class="slide <%= index === 0 ? 'active' : '' %>"> -->
                            <img src="<%= image.url %>" alt="<%= product.name %> Image">
                        <!-- </div> -->
                    <% }) %>
                </div>
                <button class="prev-slide prev-button" aria-label="Посмотреть предыдущий слайд">❮</button>
                <button class="next-slide next-button" aria-label="Посмотреть следующий слайд">❯</button>
                <!-- <button class="prev-button" aria-label="Посмотреть предыдущий слайд">&lt;</button>
                <button class="next-button" aria-label="Посмотреть следующий слайд">&gt</button> -->
                <% } else { %>
    
            <p>No images available.</p>
            <% } %>
          </div>

        <!-- Right section: Product information -->
        <div class="product-info">
          <input type="hidden" class="product-data" data-product-id="<%= product.id %>">
            <h1 class="product-title"><%= product.name %></h1>
            <p class="product-price">$<%= product.price %></p>
            <p class="product-description"><%= product.description %></p>
            <button class="add-to-cart">Add to Cart</button>
          </div>
        </div>
    </div>


    <%- include('../pages/footer.ejs') %>

</body>

<script src="/scripts/js/add-to-cart.js"></script>

<script>
    
    // Получаем элементы слайдера
const slider = document.querySelector('.slider');
const prevButton = document.querySelector('.prev-button');
const nextButton = document.querySelector('.next-button');
const slides = Array.from(slider.querySelectorAll('img'));
const slideCount = slides.length;
let slideIndex = 0;

// Устанавливаем обработчики событий для кнопок
prevButton.addEventListener('click', showPreviousSlide);
nextButton.addEventListener('click', showNextSlide);

// Функция для показа предыдущего слайда
function showPreviousSlide() {
  slideIndex = (slideIndex - 1 + slideCount) % slideCount;
  updateSlider();
}

// Функция для показа следующего слайда
function showNextSlide() {
  slideIndex = (slideIndex + 1) % slideCount;
  updateSlider();
}

// Функция для обновления отображения слайдера
function updateSlider() {
  slides.forEach((slide, index) => {
    if (index === slideIndex) {
      slide.style.display = 'block';
    } else {
      slide.style.display = 'none';
    }
  });
}

// Инициализация слайдера
updateSlider();

</script>
</html>
